option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: back_end/wsgi.py

  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: back_end.settings

  aws:elasticbeanstalk:container:python:staticfiles:
    /static/: staticfiles/

container_commands:
  01_install_node:
    command: "curl -sL https://rpm.nodesource.com/setup_20.x | sudo bash - && sudo yum install nodejs"
    ignoreErrors: false

  02_react:
    command: "cd react_app && npm i && npm run build && cd .."
    ignoreErrors: false

  03_collectstatic:
    command: "django-admin.py collectstatic --noinput"