option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: back_end/wsgi.py

container_commands:
  01_install_nvmc:
    command: "curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.5/install.sh | bash"
    ignoreErrors: false
    
  02_activate_node:
    command: ". ~/.nvm/nvm.sh"
    ignoreErrors: false
    
  03_install_node:
    command: "nvm install 20"
    ignoreErrors: false

  04_pwd:
    command: "pwd"
    ignoreErrors: false

  05_react:
    command: "cd react_app && npm install && npm run build && cd .."
    ignoreErrors: false
